.inputContainers {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -1.5rem;
    height: 3rem;
}

.inputText {
    box-sizing: border-box;
    width: 32rem;
    border-radius: 8px;
    background: var(--gray-500);
    border: 2px solid var(--gray-700) ;
    padding: 1rem;
    line-height: 1.6;
    color: var(--gray-100);
}

.inputText:focus{
    border-color: var(--purple);
}
